<div class="widget">
  <div class="map">
    <div class="widget__header">
      <div class="widget__title">Targets</div>
    </div>
    <div class="widget__content">
      <div id="world-map"></div>
      <div class="map__legend">
        <p>Targets</p>
        <div class="map-legend__item">
          <div style="background-color: #c8eeff; border-color: #c8eeff" class="circle"></div>
          <p>0</p>
        </div>
        <div class="map-legend__item">
          <div style="background-color: #82c3df; border-color: #82c3df" class="circle"></div>
          <p>&lt;50</p>
        </div>
        <div class="map-legend__item">
          <div style="background-color: #54a5ca; border-color: #54a5ca" class="circle"></div>
          <p>&lt;100</p>
        </div>
        <div class="map-legend__item">
          <div style="background-color: #3894bf; border-color: #3894bf" class="circle"></div>
          <p>&lt;150</p>
        </div>
        <div class="map-legend__item">
          <div style="background-color: #0071a5; border-color: #0071a5" class="circle"></div>
          <p>&lt;200</p>
        </div>
      </div>
    </div>
  </div>
</div>
