// backgrounds
$dark-background: #18191d;
$middle-background: #302f34;
$light-background: #404044;

// colors
$primary-blue: #0288d1;
$light-blue: #35a0da;
$light: #e3e3df;
$white: #fff;
$grey: #535355;
$light-grey: #949496;
$red: #ff0000;
$black: #313035;
$radius: 10px;


// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 768px;
// Medium screen / desktop
$screen-md: 992px;
// Large screen / wide desktop
$screen-lg: 1200px;
