<div class="avatars">
  <div class="header_row">
    <h1>Avatars (accounts)</h1>
  </div>
  <div class="avatars__table">
    <div class="row">
      <div class="col-12">
        <div class="avatars__table__table-wrapper">
          <app-loading [activated]="loading"></app-loading>
          <table>
            <thead>
              <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Login</th>
                <th>Password</th>
                <th>Status</th>
                <th></th>
                <th class="manage">Manage</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avatar of avatars; let i = index">
                <td>
                  {{i + 1}}</td>
                <td>{{avatar?.domain}}</td>
                <td>{{avatar?.username}}</td>
                <td>{{avatar?.password}}</td>
                <td>
                  <div class="status" *ngIf="avatar?.status === 'VALID'">
                    <span class="status-valid"></span>
                    <span>{{avatar?.status}}</span>
                  </div>
                  <div class="status" *ngIf="avatar?.status === 'DISABLED'">
                    <span  class="status-disabled"></span>
                    <span>{{avatar?.status}}</span>
                  </div>
                </td>
                <td>
                  <button class="buttons__link">Login</button>
                </td>
                <td class="manage">
                  <label class="switch">
                    <input type="checkbox"
                           [checked]="avatar?.status === 'VALID'"
                           (click)="toggleStatus(avatar.id, i)"
                           id="manage_0">
                    <span class="slider"></span>
                  </label>
                </td>
                <td>
                  <button class="buttons__delete" (click)="deleteAvatar(avatar.id, i)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="avatars__container">-->
    <!--<div class="avatars__item">-->
      <!--<div class="widget">-->
        <!--<div class="widget__header">-->
          <!--<div class="title">1. linkedin.com</div>-->
          <!--<div class="manage">-->
            <!--<button class="buttons__link">Login</button>-->
            <!--<label class="switch">-->
              <!--<input type="checkbox"-->
                     <!--id="manage_0">-->
              <!--<span class="slider"></span>-->
            <!--</label>-->
            <!--<button class="buttons__delete"></button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="widget__content">-->
          <!--<div class="status">-->
            <!--<span class="status-valid"></span>-->
            <!--<span>Valid</span>-->
          <!--</div>-->
          <!--<div class="login">-->
            <!--<label>Login</label>-->
            <!--<p>helen.swartz@yandex.com</p>-->
          <!--</div>-->
          <!--<div class="password">-->
            <!--<label>Password</label>-->
            <!--<p>Loremipsum</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="avatars__pagination">
    <div class="pagination">
      <a href="javascript:void(0)"
         class="pagination__prev">
        < Prev</a>
          <a href="javascript:void(0)"
             class="pagination__page active">1</a>
          <a href="javascript:void(0)"
             class="pagination__page">2</a>
          <a href="javascript:void(0)"
             class="pagination__page">3</a>
          <a href="javascript:void(0)"
             class="pagination__page">4</a>
          <a href="javascript:void(0)"
             class="pagination__page">5</a>
          <a href="javascript:void(0)"
             class="pagination__next">Next ></a>
    </div>
  </div>
  <div [class.opend]="openCreateModal" class="modal modal_create_avatar" (click)="close($event)">
    <div  class="modal_dialog">
      <div class="confirm-detail-header">
        <div class="weapon-detail-icons case_header">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modal-add-avatar"
                  class="modal-title">Add New Avatar</h5>
              <button type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                      (click)="close($event)"
                      class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-add-avatar">
                <div class="modal-add-avatar__input">
                  <label class="modal-add-avatar__label">Login</label>
                  <input type="text"
                         placeholder="Login"
                         value=""
                         class="input__regular"
                         #login
                  >
                </div>
                <div class="modal-add-avatar__input">
                  <label class="modal-add-avatar__label">Password</label>
                  <input type="password"
                         placeholder="Password"
                         value=""
                         class="input__regular"
                         #password
                  >
                </div>
                <div class="modal-add-avatar__input">
                  <label class="modal-add-avatar__label">Domain</label>
                  <input
                         #domain
                         type="text"
                         placeholder="Domain"
                         value=""
                         class="input__regular"

                  >
                </div>
                <div class="modal-add-avatar__buttons">
                  <button class="button__inactive">return</button>
                  <button class="button__active" (click)="createAvatar(login.value, password.value, domain.value)">save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
