<div id="users"
     class="widget">
  <div class="widget__header">
    <div class="widget__title">users</div>
    <div class="widget__buttons">
      <button style="background-image: url('img/refresh.png')"
              class="buttons__refresh deg0"></button>
      <button style="background-image: url('img/arrow.png')"
              class="buttons__hide deg0"></button>
      <button style="background-image: url('img/close.png')"
              class="buttons__close"></button>
    </div>
  </div>
  <div class="widget__content">
    <div class="users">
      <div class="users__header">
        <app-select></app-select>
        <input placeholder="Search"
               class="input__regular">
      </div>
      <app-user-management [renderedOnHomePage]="true"></app-user-management>
    </div>
  </div>
</div>
