<div class="case__search">
  <div class="row">
    <div class="col-md-3 col-sm-12 case__search__item">
      <div class="datepicker">
        <div class="datepicker__container"></div>
        <input id="datepicker"
               type="text"
               class="datepicker__regular">
      </div>
    </div>
    <div class="col-md-3 col-sm-12 case__search__item">
      <input type="text"
             placeholder="What are you searching for?"
             class="input__regular">
    </div>
    <div class="col-md-3 col-sm-12 case__search__item">
      <app-select></app-select>
    </div>
    <div class="col-md-3 col-sm-12 case__search__item">
      <button class="button__regular_search">search</button>
    </div>
  </div>
</div>
