<div class="overWrapp" [class.loading]="activated">
    <div [hidden]="!activated" class="preloader_space col-6">
        <div class='preloader full-width'>
            <div class='preloader-dotline'>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
                <div class='dot'></div>
            </div>
        </div>
    </div>
</div>