<div class="user-management">
  <div class="header_row">
    <h1>User Management</h1>
  </div>
  <div class="user-management__tables-container">
    <div class="user-management__table">
      <div class="user-management__table__table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Role</th>
              <th>Case</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="user-management__table">
      <div class="user-management__table__table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Role</th>
              <th>Case</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role user</span>
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">Sit Amet admin</a>
              </td>
              <td>
                <div class="role__labels">
                  <span class="label">Role admin</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button style="background-image: url('img/add_cases.png')"
                          class="buttons__add-cases"></button>
                  <p>5</p>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button style="background-image: url('img/ic_edit_blue.png')"
                          data-toggle="modal"
                          data-target="#modal-create-user"
                          class="buttons__edit"></button>
                  <button style="background-image: url('img/delete.png')"
                          class="buttons__delete"></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="user-management__container">
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-management__item">
      <div class="widget">
        <div class="widget__header">
          <a href="javascript:void(0)"
             class="username">Sit Amet admin</a>
          <div class="action__buttons">
            <button style="background-image: url('img/ic_edit_blue.png')"
                    data-toggle="modal"
                    data-target="#modal-create-user"
                    class="buttons__edit"></button>
            <button style="background-image: url('img/delete.png')"
                    class="buttons__delete"></button>
          </div>
        </div>
        <div class="widget__content">
          <div class="cases">
            <div class="title">Cases</div>
            <div class="cases__buttons">
              <button style="background-image: url('img/add_cases.png')"
                      data-toggle="modal"
                      data-target="#modal-cases"
                      class="buttons__add-cases"></button>
              <p>5</p>
              <span style="background-image: url('img/graphic.png')"
                    class="graphic"></span>
            </div>
          </div>
          <div class="role__labels">
            <div class="title">Role</div>
            <div class="role__type">
              <span class="label">ROLE_USER</span>
              <span class="label">ROLE_ADMIN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-management__pagination">
    <div class="pagination">
      <a href="javascript:void(0)"
         class="pagination__prev">
        < Prev</a>
          <a href="javascript:void(0)"
             class="pagination__page active">1</a>
          <a href="javascript:void(0)"
             class="pagination__page">2</a>
          <a href="javascript:void(0)"
             class="pagination__page">3</a>
          <a href="javascript:void(0)"
             class="pagination__page">4</a>
          <a href="javascript:void(0)"
             class="pagination__page">5</a>
          <a href="javascript:void(0)"
             class="pagination__next">Next ></a>
    </div>
  </div>
  <div class="popup__container">
    <div id="modal-create-user"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         class="modal fade">
      <div role="document"
           class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="modal-create-user"
                class="modal-title">Create User</h5>
            <button type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                    class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-create-user">
              <div class="modal-create-user__input">
                <label class="modal-create-user__label">Username</label>
                <input type="text"
                       placeholder="Username"
                       value="Omertex"
                       class="input__regular">
              </div>
              <div class="modal-create-user__input">
                <label class="modal-create-user__label">Password</label>
                <input type="password"
                       placeholder="Password"
                       value="omertex"
                       class="input__regular">
              </div>
              <div class="modal-create-user__checkboxes">
                <div class="checkbox">
                  <input type="checkbox"
                         id="admin">
                  <label for="admin">Administrators</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox"
                         id="user">
                  <label for="user">Regular Users</label>
                </div>
              </div>
              <div class="modal-create-user__buttons">
                <button class="button__inactive">back to list</button>
                <button class="button__active">add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
