<div class="user-management"  *ngIf="users">
  <div class="header_row">
    <h1>User Management</h1>
  </div>
  <div class="user-management__tables-container">
    <div class="user-management__table">
      <div class="user-management__table__table-wrapper">
        <a
          data-toggle="modal"
          href="#modal-create-user"
          class="create_user"
        >
          Create new User
        </a>
        <!-- <app-loading [activated]="loading"></app-loading> -->
        <table>
          <thead>
            <tr>
              <th><span class="pointer" (click)="sortTable('username')">Username</span></th>
              <th>Role</th>
              <th>Cases</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let user of users | sortingUsers:path:order | paginate: { id: 'user-page', itemsPerPage: pageSize, currentPage: pageNum, totalItems: length }">
            <tr>
              <td *ngIf="user['username']?.length < 10; else userTooltipTemplate">
                <a href (click)="setCurrentUser(user)"
                  data-toggle="modal" data-target="#modal-edit-user">{{user['username'] }}</a>
              </td>
              <ng-template #userTooltipTemplate>
                <td>
                  <a href (click)="setCurrentUser(user)"
                    data-toggle="modal" data-target="#modal-edit-user" 
                    tooltip content="{{ user['username'] }}" ngToolTipClass="true">
                    {{(user['username'] | slice:0:7)+'..'}}
                  </a>
                </td>
              </ng-template>
              <td>
                <div class="role__labels" *ngIf="user['isAdmin']?.length > 0">
                  <span class="label">{{ user['isAdmin'] }}</span>
                </div>
                <div class="role__labels" *ngIf="user['isUser']?.length > 0">
                  <span class="label">{{ user['isUser'] }}</span>
                </div>
              </td>
              <td class="cases">
                <div class="cases__buttons">
                  <button
                    style="background-image: url('img/add_cases.png')"
                    (click)="setCurrentUser(user)"
                    data-toggle="modal"
                    data-target="#modal-add-case"
                    class="buttons__add-cases"></button>
                  <button
                    style="background-image: url('img/delete_case.png')"
                    (click)="setCurrentUser(user)"
                    data-toggle="modal"
                    data-target="#modal-delete-case"
                    *ngIf="user['cases']?.length > 0; else elseDeleteTemplateName"
                    class="buttons__add-cases"></button>
                  <a
                          *ngIf="user['cases']?.length > 0; else elseTemplateName"
                          href="#modal_all_cases"
                          data-toggle="modal"
                          (click)="setCurrentUser(user)"
                  >
                    {{user['cases']?user['cases']?.length:0}}
                  </a>
                  <ng-template #elseDeleteTemplateName>
                    <button style="background-image: url('img/delete_case.png')"
                      class="buttons__add-cases"></button>
                  </ng-template>
                  <ng-template #elseTemplateName>
                    <a>0</a>
                  </ng-template>
                  <span class="graphic"></span>
                </div>
              </td>
              <td>
                <div class="action__buttons">
                  <button
                    *ngIf="renderedOnHomePage"
                    style="background-image: url('img/search.png')"
                    data-toggle="modal"
                    data-target="#modal-audit"
                    class="buttons__users-search"></button>
                  <button
                    style="background-image: url('img/ic_edit_blue.png')"
                    (click)="setCurrentUser(user)"
                    data-toggle="modal"
                    data-target="#modal-edit-user"
                    class="buttons__edit"
                  >
                  </button>
                  <button style="background-image: url('img/delete.png')"
                            class="buttons__delete" data-toggle="modal"
                            data-target="#modal-delete-user"
                            (click)="setCurrentUser(user)"></button>
                </div>
              </td>
            </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="user-management__pagination">
    <div class="pagination">
      <pagination-controls
        previousLabel="Prev"
        (pageChange)="onPage($event)"
        id="user-page">
      </pagination-controls>
    </div>
  </div>
  <div class="popup__container">
    <form [formGroup]="userform" (ngSubmit)="AddUser()">
      <div id="modal-create-user"
           tabindex="-1"
           role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true"
           class="modal fade">
        <div role="document"
             class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modal-create-user"
                  class="modal-title">Create User</h5>
              <button type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                      class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-create-user">
                <div class="modal-create-user__input">
                  <label for="name" class="modal-create-user__label">Username</label>
                  <input  id="name" class="input__regular"
                         type="text"
                         placeholder="Username"
                         [(ngModel)]="user.username" formControlName="username" autofocus>
                </div>
                <div class="alert alert-danger" *ngIf="userform.controls.username.errors?.WrongUser">Username is wrong. Username can contain only letters and '_'</div>
                <div class="alert alert-danger" *ngIf="userform.controls.username.errors?.NoInputUser">Username is required and cannot be empty;</div>
          
                <div class="modal-create-user__input">
                  <label for="password" class="modal-create-user__label">Password</label>
                  <input id="password" class="input__regular" 
                         type="password"
                         placeholder="Password"
                         [(ngModel)]="user.password" formControlName="password" autofocus>
                </div>
                <div class="alert alert-danger" *ngIf="userform.controls.password.errors?.NoInputPassword">Password is required and cannot be empty;</div>
                <div class="alert alert-danger" *ngIf="userform.controls.password.errors?.WrongPassword">Password must be at least 8 characters. It must contains at least one Uppercase, Lowercase, Number and Special Character. Special Characters are !@#$%,.^_'~</div>
                <div class="modal-create-user__input">
                    <label for="confirmpassword" class="modal-create-user__label">Confirm Password</label>
                    <input id="confirmpassword" class="input__regular" 
                           type="password"
                           placeholder="Confirm Password"
                           [(ngModel)]="user.confirmpassword" formControlName="confirmpassword" autofocus>
                </div>
                <div class="alert alert-danger" *ngIf="userform.controls.confirmpassword.errors?.NoInputCPassword">Confirm Password is required and must match the Password;</div>
                <div class="alert alert-danger" *ngIf="userform.controls.confirmpassword.errors?.MatchPassword">Password and Confirm Password do not match</div>
                <div class="alert alert-danger" *ngIf="usercheck == 1">This Username already exist. Please enter a different Username</div>
                <div class="modal-create-user__checkboxes" formArrayName="roles">
                  <div class="checkbox">
                    <input type="checkbox"
                           id="admin" formControlName="0">
                    <label for="admin">Administrators</label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox"
                           id="user" formControlName="1">
                    <label for="user">Regular Users</label>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="userform.controls.roles.errors?.NoRoles">Role is required. Select at least one role</div>

                <div class="modal-create-user__buttons">
                  <button class="button__inactive" data-dismiss="modal">back to list</button>
                  <button class="button__active" type="submit" [disabled]="!userform.valid">add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="popup__container">
    <form [formGroup]="userEditForm" (ngSubmit)="Save()" *ngIf="currentUser">
      <div
        id="modal-edit-user"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        class="modal fade"
      >
        <div
          role="document"
          class="modal-dialog"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit User</h5>
              <button type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                      class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-create-user">
                <div class="modal-create-user__input">
                  <label for="name" class="modal-create-user__label">Username</label>
                  <input
                    id="name"
                    class="input__regular"
                    type="text"
                    placeholder="Username"
                    value="{{currentUser['username']}}"
                    disabled
                  >
                </div>
                <div class="modal-create-user__input">
                  <label for="password" class="modal-create-user__label">Password</label>
                  <input id="password" class="input__regular"
                         type="password"
                         placeholder="Password"
                         formControlName="password"
                  >
                </div>
                <div class="alert alert-danger" *ngIf="userEditForm.controls.password.errors?.NoInputPassword">Password is required and cannot be empty;</div>
                <div class="alert alert-danger" *ngIf="userEditForm.controls.password.errors?.WrongPassword">Password must be at least 8 characters. It must contains at least one Uppercase, Lowercase, Number and Special Character. Special Characters are !@#$%,.^_'~</div>
                <div class="modal-create-user__checkboxes" formArrayName="roles">
                  <div class="checkbox">
                    <input type="checkbox"
                           id="adminForm" formControlName="0"
                    >
                    <label for="adminForm">Administrators</label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox"
                           id="userForm" formControlName="1"
                    >
                    <label for="userForm">Regular Users</label>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="userEditForm.controls.roles.errors?.NoRoles">Role is required. Select at least one role</div>
                <div class="modal-create-user__buttons">
                  <button class="button__inactive" data-dismiss="modal">back to list</button>
                  <button class="button__active" type="submit" [disabled]="!userEditForm.valid">save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="popup__container" *ngIf="currentUser">
      <div id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" class="modal fade">

        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete User</h5>
              <button type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                      class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure want to delete 
                  <span style="font-weight: bold; font-size: large;">{{currentUser['username']}}
                  </span>?</h3>
                <div class="modal-delete-user__buttons">
                  <button class="button__inactive" data-dismiss="modal">back to list</button>
                  <button class="button__active" (click)="deleteUser(currentUser)">delete</button>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="popup__container" *ngIf="currentUser">
      <div id="modal-add-case"
           tabindex="-1"
           role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true"
           class="modal fade modal_all_cases">
        <div role="document"
             class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                  Add {{currentUser['username']}} to the case
              </h5>
              <button type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                      class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-add-case">
                <div class="modal-add-case__checkboxes">
                  <div class="case__content">
                    <table class="users__table ">
                      <thead [class.scroll]="currentUser['cases']?.length > 7">
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Targets</th>
                      </tr>
                      </thead>
                      <tbody>
                      <mat-radio-group [(ngModel)]="dataCase"  ngDefaultControl>
                        <ng-container  *ngFor="let case of cases">
                          <tr *ngIf="currentUser['cases']?.length > 0 && caseExistInArray(currentUser['cases'], case); else newcase_template">
                            <td>
                              <mat-radio-button value="{{case.id}}" disabled></mat-radio-button>
                            </td>
                            <td>
                              <a [routerLink]="['/cases/'+ case['id']]"
                                  data-dismiss="modal" class="duplicate-case">
                                {{case['name']}}
                              </a>
                            </td>
                            <td style="width: 100px;">{{case['targets']?case['targets']?.length:0}}</td>
                          </tr>
                          <ng-template #newcase_template>
                            <tr>
                              <td>
                                <mat-radio-button value="{{case.id}}"></mat-radio-button>
                              </td>
                              <td>
                                <a [routerLink]="['/cases/'+ case['id']]"
                                    data-dismiss="modal">
                                  {{case['name']}}
                                </a>
                              </td>
                              <td style="width: 100px;">{{case['targets']?case['targets']?.length:0}}</td>
                            </tr>
                          </ng-template>
                        </ng-container>
                      </mat-radio-group>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-add-case__buttons">
                    <button class="button__inactive" data-dismiss="modal">back to list</button>
                    <button class="button__active" (click)="addUserTOTheCase()">Add</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
     </div>
     </div>
  </div>

  <div class="popup__container" *ngIf="currentUser">
    <div id="modal-delete-case"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         class="modal fade modal_all_cases">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete {{currentUser['username']}} from the case</h5>
            <button type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                    class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-add-case">
              <div class="modal-add-case__checkboxes">
                <div class="case__content">
                  <table class="users__table ">
                    <thead [class.scroll]="currentUser['cases']?.length > 7">
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Targets</th>
                      </tr>
                    </thead>
                    <tbody>
                      <mat-radio-group [(ngModel)]="deletedataCase"  ngDefaultControl>
                        <ng-container  *ngFor="let case of currentUser['cases']">
                          <tr>
                            <td>
                              <mat-radio-button value="{{case.id}}"></mat-radio-button>
                            </td>
                            <td>
                              <a
                                [routerLink]="['/cases/'+ case['id']]"
                                data-dismiss="modal">{{case['name']}}
                              </a>
                            </td>
                            <td style="width: 100px;">{{case['targets']?case['targets']?.length:0}}</td>
                          </tr>
                        </ng-container>
                      </mat-radio-group>
                    </tbody>
                  </table>
                </div>
                <div class="modal-add-case__buttons">
                  <button class="button__inactive" data-dismiss="modal">back to list</button>
                  <button class="button__active" (click)="deleteUserFromTheCase(currentUser)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="popup__container">-->
    <!--<form [formGroup]="caseForm" (ngSubmit)="addCase(caseForm)" *ngIf="currentUser">-->
      <!--<div id="modal-add-case"-->
           <!--tabindex="-1"-->
           <!--role="dialog"-->
           <!--aria-labelledby="exampleModalLabel"-->
           <!--aria-hidden="true"-->
           <!--class="modal fade">-->
        <!--<div role="document"-->
             <!--class="modal-dialog">-->
          <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
              <!--<h5-->
                  <!--class="modal-title">Add Case for {{currentUser['username']}}</h5>-->
              <!--<button type="button"-->
                      <!--data-dismiss="modal"-->
                      <!--aria-label="Close"-->
                      <!--class="close">-->
                <!--<span aria-hidden="true">&times;</span>-->
              <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
              <!--<div class="modal-add-case">-->
                <!--<div class="modal-add-case__checkboxes">-->
                  <!--<div class="case__content">-->
                    <!--<div class="inputs">-->
                      <!--<label>Case Name</label>-->
                      <!--<input-->
                              <!--id="name"-->
                              <!--class="input__regular"-->
                              <!--type="text"-->
                              <!--placeholder="Case Name"-->
                              <!--formControlName="caseName"-->
                              <!--autofocus-->
                      <!--&gt;-->
                    <!--</div>-->
                    <!--<app-select-->
                            <!--placeholder="Case type"-->
                            <!--[current]="1"-->
                            <!--[options]="[{name:'UNDEFINED',  id:1}, {name:'HOMICIDE',  id:2}]"-->
                            <!--(selectOption)="selectCaseType($event)"-->
                    <!--&gt;</app-select>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-add-case__buttons">-->
                  <!--<button class="button__active" type="submit">Add Case</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
     <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <div class="popup__container" *ngIf="currentUser">
    <div id="modal_all_cases"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         class="modal fade modal_all_cases">
      <div role="document"
           class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{currentUser['username']}} Cases</h5>
            <button type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                    class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="users__table ">
              <thead [class.scroll]="currentUser['cases']?.length > 7">
              <tr>
                <th>Name</th>
                <th>Targets</th>
              </tr>
              </thead>
              <tbody>
              <ng-container  *ngFor="let case of currentUser['cases']">
                <tr>
                  <td>
                    <a
                      [routerLink]="['/cases/'+ case['id']]"
                      data-dismiss="modal"
                    >
                      {{case['name']}}
                    </a>
                  </td>
                  <td>{{case['targets']?case['targets']?.length:0}}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<dialog-create-case [openModalCreate]="showCreateCaseDialog"
                    (visibleChange)="changeVisiblesCreateCaseDialog()"
                    (successAdd)="successAddCase($event)"></dialog-create-case>