<div class="col-12 q-content">
  <div class="query__search">
    <!--<app-filter (onApplyFilter)="onApplyFilter($event)"></app-filter>-->
  </div>


  <div class="searching__row row">
    <div class="main_search col-6">
      <input
        placeholder="Search"
        [(ngModel)]="searchString"
        [disabled]="activated"
        (keyup.enter)="search()"
        class="input__regular">
      <button
        type="button"
        class="button__regular_accept"
        (click)="search()"
        [disabled]="activated">Search</button>
    </div>
    <div [hidden]="!activated" class="preloader_space col-6">
      <div class='preloader full-width'>
        <div class='preloader-dotline'>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
          <div class='dot'></div>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="!searchBlock" class="search__result result__blockchein">
    <h2>Search Results</h2>
    <div class="devider"></div>
    <div class="targets_search_res">
      <div *ngIf="isBlockchain === true">
        <div *ngFor="let weapon of weapons | limitTo: 12; let ind = index"
          (click)="openInModal(+ind, weapon)"
          class="search_res_item">
          <div class="open-target__section">
            <div class="open-target__section__profile">
              <div class="open-target-profile">
                <div class="open-target-profile__content">
                  <div class="open-target-img">
                    <img *ngIf="weapon.qrcode.length > 0; else noqrcode;" [src]="weapon.qrcode" alt="" class="blockchain_qr"/>
                    <ng-template #noqrcode>
                      <img [src]="img/no_qrcode.jpeg" alt="" class="blockchain_qr"/>
                    </ng-template>
                  </div>
                  <div class="description">
                      <p>Address</p>
                    {{weapon.address}}
                    <div>
                      <label>No. Transactions</label>{{weapon.no_transactions}}
                    </div>
                    <div>
                      <label>Total Received</label>{{weapon.total_received}}
                    </div>
                    <div>
                      <label>Final Balance</label>{{weapon.final_balance}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isBlockchain === false" style="width: 100%;">
        <div *ngFor="let weapon of weapons | limitTo: 12; let ind = index"
            (click)="openInModal(+ind, weapon)"
            class="search_res_item">
          <div class="open-target__section">
            <div class="open-target__section__profile">
              <div class="open-target-profile">
                <div class="open-target-profile__content">
                  <div class="open-target-img">
                    <img *ngIf="weapon.product_photo.length > 0; else noimage;" [src]="weapon.product_photo" alt="" />
                    <ng-template #noimage>
                      <img [src]="img/no-image.png" alt="" />
                    </ng-template>
                  </div>
                  <a href="javascript:void(0)" class="open-target-profile__title">{{weapon.product_name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div> -->

    </div>
  </div>
</div>

<app-query-dialog></app-query-dialog>
<!-- <app-dialog></app-dialog> -->

<weapon-details></weapon-details>
