<div class="widget">
  <div class="profile">
    <div class="profile__header">
      <div class="profile__user">
        <img src="img/user_blue.png"
             alt=""
             class="profile__img">
        <div class="profile__name">John Doe</div>
      </div>
      <button style="background-image: url(img/exit.png)"
              class="profile__exit"></button>
    </div>
    <div class="profile__content">
      <div class="profile__item">
        <div style="background-image: url('img/time.png')"
             class="img"></div>
        <a href="javascript:void(0)">timeline</a>
      </div>
      <div class="profile__item">
        <div style="background-image: url('img/project.png')"
             class="img"></div>
        <a href="javascript:void(0)">projects</a>
      </div>
      <div class="profile__item">
        <div style="background-image: url('img/gallery.png')"
             class="img"></div>
        <a href="javascript:void(0)">photos</a>
      </div>
      <div class="profile__item">
        <div style="background-image: url('img/edit.png')"
             class="img"></div>
        <a href="javascript:void(0)">edit</a>
      </div>
    </div>
  </div>
</div>
