<div id="statistics" class="widget">
  <div class="widget__header">
    <div class="widget__title">monthly statistics</div>
    <div class="widget__buttons">
      <button style="background-image: url('img/refresh.png')" class="buttons__refresh deg0"></button>
      <button style="background-image: url('img/arrow.png')" class="buttons__hide deg0"></button>
      <button style="background-image: url('img/close.png')" class="buttons__close"></button>
    </div>
  </div>
  <div class="widget__content">
    <div class="statistics">
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_up.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #93cc6e">100</span></div>
        <div class="statistics__status">Full Profile</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_down.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #ee6352">12</span></div>
        <div class="statistics__status">Empty Profiles</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/minus.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #3994db">33</span></div>
        <div class="statistics__status">Partional Profiles</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_up.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #93cc6e">100</span></div>
        <div class="statistics__status">Link Analysis Matches</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_down.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #ee6352">12</span></div>
        <div class="statistics__status">Lorem Ipsum</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/hot.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #ef946c">500</span></div>
        <div class="statistics__status">Friend Drilldowns</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/minus.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #3994db">20</span></div>
        <div class="statistics__status">Profiles Deleted</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_up.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #93cc6e">120</span></div>
        <div class="statistics__status">Cases Opened</div>
      </div>
      <div class="statistics__row">
        <div class="statistics__status-img"><img src="img/arrow_down.png" alt=""></div>
        <div class="statistics__status-count"><span style="color: #ee6352">30</span></div>
        <div class="statistics__status">Full Profile</div>
      </div>
    </div>
  </div>
</div>
