<div class="audit-trail">
  <div class="header_row">
    <h1>Audit Trail</h1>
  </div>
  <div class="audit-trail__search">
    <div class="row">
      <div class="col-12 col-xl-2 datepicker">
        <div class="datepicker__container"></div>
        <input id="datepicker"
               type="text"
               class="datepicker__regular">
      </div>
      <div class="col-12 col-xl-4">
        <input type="text"
               placeholder="What are you searching for?"
               class="input__regular">
      </div>
      <div class="col-12 col-xl-2">
        <div class="dropdown">
          <div class="dropdown__selected">
            <input type="text"
                   readonly
                   value="Lorem Ipsum"
                   class="dropdown__input">
            <span style="background-image: url('img/arrow.png')"
                  class="dropdown__arrow"></span>
          </div>
          <ul class="dropdown__list">
          </ul>
        </div>
      </div>
      <div class="col-12 col-xl-2">
        <button class="button__regular_search">search</button>
      </div>
    </div>
  </div>
  <div class="audit-trail__tables-container">
    <div class="audit-trail__table">
      <div class="audit-trail__table__table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Nr</th>
              <th>Username</th>
              <th>Date</th>
              <th>Time</th>
              <th>User Type</th>
              <th>Activity</th>
            </tr>
          </thead>

          <tbody *ngFor="let audit of audittrail | paginate: { id: 'audit-trail-page', itemsPerPage: pageSize, currentPage: pageNum, totalItems: length }; let i=index" [attr.data-index]="i">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{audit.username}}</td>
              <td id="audit-date">{{audit.datePerformed}}</td>
              <td id="audit-time">{{audit.timePerformed}}</td>
              <td>User</td>
              <td>
                <button data-toggle="modal"
                        data-target="#modal-view-target"
                        class="buttons__link">{{audit.actionType}}</button>
              </td>
                <div class="popup__container">
                  <div id="modal-view-target"
                       tabindex="-1"
                       role="dialog"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true"
                       class="modal fade">
                    <div role="document"
                         class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="modal-view-target"
                              class="modal-title">{{audit.username}}</h5>
                          <button type="button"
                                  data-dismiss="modal"
                                  aria-label="Close"
                                  class="close">
                            <span aria-hidden="true">{{audit.timePerformed}}</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="modal-view-target">
                            <div class="modal-view-target__textarea">
                              <textarea class="textarea__regular"></textarea>
                            </div>
                            <div class="modal-view-target__footer">
                              <button class="button__regular_accept">OK</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="audit-trail__pagination">
    <div class="pagination">
      <pagination-controls
        previousLabel="Prev"
        (pageChange)="onPage($event)"
        id="audit-trail-page">
      </pagination-controls>
    </div>
  </div>
</div>