<form (submit)="search()"
      class="targets__search">
  <div class="search__period">
    <app-select></app-select>
  </div>
  <div class="search__target-id">
    <input type="text"
           placeholder="Search by Target ID"
           class="input__regular">
  </div>
  <div class="search__name">
    <input type="text"
           placeholder="Search by Name"
           class="input__regular">
  </div>
  <div class="search__button">
    <button class="button__regular_accept">search</button>
  </div>
</form>
